body{
    background:#eef2f7;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border-radius:18px;
}

.table{
    background:white;
    border-radius:15px;
    overflow:hidden;
}

.btn{
    border-radius:10px;
}

.form-control{
    border-radius:10px;
}

.pagination .page-link{
    border-radius:8px;
    margin:3px;
}

footer{
    font-size:15px;
}

.navbar{
    padding:15px;
}

.table td{
    vertical-align:middle;
}

.btn-sm{
    margin-right:5px;
}